<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/mbti/<%- result.image%>.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%- result.title%></h5>
        <p class="card-text"><%- result.desc%></p>
    </div>
</div>