<div class="card" style="width: 100%!important; text-align: center;">
    <div class="card-header" style="background-color: transparent!important;"><h1>결과!</h1></div>
    <div class="res-box">
        <img class="res-img card-img-top" src="/images/mbti/<%- image%>.jpeg" alt="Card image cap">
    </div>

    <div class="card-body">
        <h3><p class="card-title">당신의 음식은 <%- title[0]%>!</p></h3>
        <p class="card-text"> <%- desc[0]%></p>
    </div>
    <div class="card-footer" style="background-color: transparent!important;"><button class="btn"><a href="/main" style="color: black; text-decoration: none;">처음으로</a></button></div>
</div>