<footer class="py-3 my-4 fixed-bottom" style="margin: auto;">
    <p class="text-center text-muted">&copy; 2022-2023 <a class="text-secondary" href="http://ssossotable.com">ssosso.table</a></p>
</footer>