<nav class="navbar navbar-light bg-light bg-transparent">
    <a class="navbar-brand d-flex" href="/">
        <div class="brand-box">
            <img src="/images/logo.png" alt="소소식탁" class="brand-img">
        </div>
        <p style="margin: auto; padding: 0 0 0 10px;">소소식탁</p>
    </a>
</nav>