<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs', {title: title}) %>
    <link href="/stylesheets/index.css" rel="stylesheet">
</head>
<body>
<%- include('header.ejs') %>
<main>
</main>
<%- include('footer.ejs') %>
</body>

</html>
