@media only screen and (max-width: 768px) {
  /* ADDED: 모바일 환경 css 추가 */
  .aBox {
    margin: 0 !important;
    width: 100%;
  }
  .answerList {
    padding: 10px;
    width: 90%;
    margin: 10px;
  }
  .qBox {
    margin: 20px;
  }
  .content-title-box {
    width: 240px;
    height: 240px;
    border-radius: 30%;
    overflow: hidden;
    margin: auto;
  }
  .content-title-box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .res-box {
    width: 240px;
    height: 240px;
    border-radius: 30%;
    overflow: hidden;
    margin: auto;
  }
  .res-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card {
  width: 100% !important;
  height: 70%;
  margin: 10% 5% auto 5%;
}
/** REFACTOR:
* 질문 페이지와 결과 페이지를 시작부터 display: none으로 지정해서 첫 시작시 보이지 않도록 함
*/
#qna-page {
  display: none;
}
#result-page {
  display: none;
}
.answerList {
  margin: 10px;
}
/**
* 결과페이지 상단 margin
 */
.nameBox {
  margin: 30px 0 0 0;
}
