body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.brand-box {
  width: 32px;
  height: 32px;
  border-radius: 30%;
  overflow: hidden;
}
.brand-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}